.App {
  margin:0;
  padding:0;
  display: flex;
  align-items: center;
  flex-direction: column;
}
img{
  width: 190px;
  height: 117px;
  border-radius: 10px;
}
.content {
  color:white;
  background-color: rgb(22, 21, 26);
  padding: 40px;
}

